@using AnteyaVIP.Web.Areas.Administration.ViewModels.Products
@using AnteyaVIP.Web.Areas.Administration.ViewModels.Characteristics
@using AnteyaVIP.Models
@model ProductInputModel
@{
    const string ControllerName = "Products";
    ViewBag.Title = ControllerName;
}

<h2>Create Product</h2>
<br/>
@using (Html.BeginForm("Create", ControllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-10">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.Price, "")
            </div>

            <div class="col-md-10">
               @*@Html.EditorFor(m => m.ManufacturerId, new { ListItem = Model.Manufacturers })*@
            </div>

            <div class="col-md-10">
               @*@Html.EditorFor(m => m.CategoryId, new { ListItem = Model.Categories })*@
            </div>

            <div class="col-md-10">
                @(Html.Kendo().Upload()
                    .Name("UploadedImages")
                    .Multiple(true)
                )

                <div id="characteristics-input-container" class="display-inline">
                    <input type="button" value="Add new characteristics" id="add-new-characteristics-input" class="btn btn-success" />
                    <br />
                    <h4 id="characteristics-header">Parameter Value</h4>
                </div>

               @* @(Html.FullFeaturedGrid<CharacteristicViewModel>("Characteristics", m => m.ProductId))*@
            </div>

            <div class="col-md-10">
                <input type="submit" name="Create" id="create-product" value="Create" class="btn btn-success btn-lg" />
            </div>
       </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
        $("#image-input-container").on("click", "#add-new-picture-input", function () {
            var input = $("<input />").attr("type", "file").attr("name", "files").attr("accept", ".jpeg , .jpg, .png");
            $("#image-input-container").append(input);
        })
    </script>*@

    @*<script>
        $("#characteristics-input-container").on("click", "#add-new-characteristics-input", function () {
            var charBlock = $("<div>");
            var Parameter = $("<input />").attr("type", "text");
            var Value = $("<input />").attr("type", "text");
            charBlock.append(Parameter).append(Value);
            $("#characteristics-input-container").append(charBlock);

        })
    </script>*@

}